@import "/src/assets/styles/variables";

.hmi-main {
  display: flex;
  height: 100%;
  flex-direction: column;

  > div:not(:last-child) {
    border-bottom: 0.05rem solid $gray-lighter;
  }

  .hmi-header {
    flex: 0 0 auto;
  }

  .hmi-content {
    flex: 1 0 auto;
  }

  .hmi-footer {
    flex: 0 0 auto;
  }
}

