.fa-home:before {
  content: '\F015';
}

.fa-airplane:before {
  content: '\F072';
}

.fa-people:before {
  content: '\F0C0';
}

.fa-umbrella:before {
  content: '\F0E9';
}

.fa-flag:before {
  content: '\F11E';
}