@import "variables";
@import "fonts";
@import "icons";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-default;
  font-weight: 400;
  font-size: 1.45rem;

  background-color: $gray-dark;
  color: $color-default;
}