@import "variables";
@import "fonts";
@import "icons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .hmi-sb {
  height: 100%;
}

html {
  font-family: $font-default;
  font-weight: 400;
  font-size: 8.6vh;
  line-height: 0.9;
}

body {
  background-color: $color-background;
  color: $color-default;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

.hmi-sb.hmi-sb-padded {
  padding: 0.25rem;
}

.hmi-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transition: background-color 0.5s ease;

  pointer-events: none;
  background-color: transparent;

  &--active {
    background-color: $gray-transparent;
    pointer-events: all;
  }
}