@import "colors";

$font-default: 'Roboto Condensed', serif;

$grid-size: 0.25rem;

$spacing-xs: $grid-size / 2;
$spacing-sm: $grid-size;
$spacing-md: $grid-size * 2;
$spacing-lg: $grid-size * 4;

$color-default: $white;
$color-primary: $orange;